h1{

color: blueviolet;
font-size: 60px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;


}

h2{
font-family: 'Times New Roman', Times, serif;
color: brown;
font-weight: bold;
font-size: 40px;

}